@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next{
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer{
  display: flex;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
  margin-top: auto;
  color: #fff;
}

.card-title{
  height: 50px;
  overflow: hidden;
}
.card-text{
  max-height: 50px;
  overflow: hidden;
}
.product__image{
  padding: 8px;
  display: flex;
  justify-content: center;
}